body{
	background-color: #ddd;
	background-size:cover; 
	font-family:arial;
}
h1{
font-family: 'Maiden Orange', cursive;
}
h3{
	font-family: 'Roboto Condensed', sans-serif
}
.w3-container{
	background-color: #fff;
	min-height: 200px;
	margin: 0 auto;
	padding: 200px;
	padding-top: 0px;
	text-align: 

}